*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
darkModeColors {
  --headerbackgroud: #1A1B23;
}
.header-container {
  /* background-color: rgb(26, 27, 35); */
  background-color: var(--headerbackgroud);
  color: aliceblue;
  display: flex;
  font-family: metr;
  height: 80px;
  border: 1px solid red;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.name {
  border: 1px solid red;
}

.links-container {
  display: flex;
  border: 1px solid red;
  width: 300px;
  
}