.darkTheme {
  /* --header-backgroud: #151819; */
  --background-body: #000000
  --pink-color: #ed145b;
}

body {
  background-color: #000000;
  /* background-color: var(--background-body); */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  color: #d8d8d8;
}

.body-container {
  display: flex;
  align-items: center;
  /* justify-content: space-around ; */
  border: 1px solid red;
  height:90vh;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  height: 30vw;
  padding: 30px;
  width: 60%;
  
}

.dev-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 23vh;
  letter-spacing: 1px;
  
}

.image-container {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid red;
  width: 40%;
  height: 90vh;
}

.perfil-image {
  height: 30px;
}

.download-button {
  background-color: transparent !important;
  color: #ed145b;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: 1px solid;
  /* text-decoration: none; */
  width: 150px;
  height: 50px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

/* @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
} */
