.darkTheme {
  /* --header-backgroud: #151819; */
  --background-body: #000000
  --pink-color: #ed145b;
}

body {
  background-color: #000000;
  /* background-color: var(--background-body); */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  color: #d8d8d8;
}

.body-container {
  display: flex;
  align-items: center;
  /* justify-content: space-around ; */
  border: 1px solid red;
  height:100vh;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  height: 30vw;
  padding: 30px;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  
};

.dev-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 23vh;
  letter-spacing: 1px; 
}

.dev-name h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.2em;
  /* color: #ff3a5e */
};

.image-container {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid red;
  width: 40%;
  height: 90vh;
}

.perfil-image {
  height: 30px;
}

.download-button {
  background-color: transparent;
  color: #ff3a5e;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: 1px solid;
  /* text-decoration: none; */
  width: 150px;
  height: 50px;
  letter-spacing: 0.4px;
  cursor: pointer;
  /* transition: 1s; */
}

.download-button :hover {
  background-color: #d8d8d8;
}
  
