:root{
  --header-backgroud: #151819;
  --name-firstLetter: #ed145b;
}

.header-container {
  /* background-color: rgb(26, 27, 35); */
  background-color: var(--header-backgroud) ;
  color: #d8d8d8;
  display: flex;
  font-family: metr;
  height: 10vh;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.name h2 {
  /* border: 1px solid red; */
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 300;
}

.name span {
  color: var(--name-firstLetter);
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.nav-container {
  align-items: center;
  /* border: 1px solid red; */
  width: 50%;
  height: 70%;
}

.links-container {
  align-items: center;
  justify-content:space-evenly;
  display: flex;
  /* border: 1px solid red;  */
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #d8d8d8;
  list-style: none;
}

.links-container li {
  /* border: 1px solid red; */
  padding: 10px 20px;
}

.links-container :hover {

  text-decoration: underline;

}
